{% extends 'home/base.html' %}

{% block javascript %}
    <script>
        $dropdown = $("#myList");
        $(".dropdown-toggle").click(function() {
            var id = $(this).closest("tr").children().eq(2).text();
            var type = $(this).closest("tr").children().eq(4).text();
            $(this).after($dropdown);
            $dropdown.empty()
            $.ajax({
                url: '/ajax/find_books/',
                data: {
                    'userid' : id,
                    'listingtype' : type
                },
                dataType: 'json',
                success: function (data) {

                    $.each(data, function (i, result) {
                        var bookTitle = result;
                        $('#myList').append('<li role="presentation"><a class="inactiveLink" role="menuitem" tabindex="-1">' + bookTitle + '</a></li>');

                    });
                }


            });
            $(this).dropdown();
        });
    </script>
{% endblock %}

{% block content %}
    <div class ='jumbotron'>
    {% if result  %}
        {% if result.count == 1 %}
            <h2>Showing {{ result.count }} Result</h2>
        {% else %}
            <h2>Showing {{ result.count }} Results</h2>
        {% endif %}


        <table class='table table-hover' id = "searchTable">

        <thead>
            <tr>
                <th>#</th>
                <th>School</th>
                <th>Username</th>
                <th>Book Title</th>
                <th>Type</th>
                <th>Time Since Posted</th>
                <th>Books Wanting/Giving</th>
                <th>Message User</th>
            </tr>



        </thead>
        <tbody>
        {% for instance in result %}
            <tr>
                <td>{{ forloop.counter}}</td>
                <td>{{ instance.sid.school }} </td>
                <td>{{ instance.sid.user.username}}</td>
                <td>{{ instance.bid }} </td>
                <td>{{ instance.type }} </td>
                <td>{{ instance.date|timesince}} </td>
                <td class="dropdown">
                    {% if instance.type == 'W' %}
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" id="dropdownbutton">Show Books Giving</a>
                    {% else %}
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" id="dropdownbutton">Show Books Wanted</a>
                    {%  endif %}
                </td>


                <td>
                    <a href="/messages/write/{{ instance.sid.user.username }} "><button type="button" class = "btn btn-default btn-sm">
                        <span class="glypicon glyphicon-envelope"></span>
                    </button>
                    </a>
                </td>
            </tr>
`
        {% endfor %}
        </tbody>

        </table>
        </div>
        <ul class="dropdown-menu" id="myList" role="menu" aria-labelledby="dropdownbutton"></ul>
    {% endif %}


{% endblock %}
</body>
</html>
