{% extends 'home/base.html' %}

{% block stylesheet %}
    <style>
        body{
            background-color:#FFFFFF;

        }
    </style>
{% endblock %}

{% block javascript %}
    <script>
        $("#id_username").change(function () {
            var username = $(this).val();

            $.ajax({
                url: '/ajax/validate_username/',
                data: {
                    'username': username
                },
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                        alert("A user with this username already exists.");
                    }
                }
            });

        });
    </script>
{% endblock %}

{% block content %}
    <div class="jumbotron">
    <div>
        <h1 style="text-align: center; bottom:20px;">Register</h1>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create new user account" />
        </form>
    </div>
    </div>
{% endblock %}