body{
    background-color:#263245;
}

.navbar {
          margin-bottom: 0;
          border-radius: 0;
          background-color: #263245;
          color: #FFF;
          padding: 1% 0;
          font-size: 1.2em;
          border: 0;
      }
      
.navbar-brand{
          float: left;
          min-height: 55px;
          padding: 0 15px 5px;
      }
      
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
          color: #FFF;
          background-color: #263245;
      }
      
.carousel-caption {
          top:50%;
          transform: translateY(-50%);
          text-transform: uppercase;    
      }
      
.btn {
          font-size: 18px;
          color: #FFF;
          padding: 12px 22px;
          background:#263245;
          border: 2px solid #FFF;
      }
      
@media (max-width:600px){
          .carousel-caption{
              display: none;
          }
      }
      
.container {
          margin: 4% auto;
      }
      
#icon {
          max-width: 200px;
          margin: 1% auto;
      }
      
img {
          height: 100%;
      }
      
