<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>Textbook Exchange</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel ="stylesheet" type="text/css" href='{% static "css/home.css" %}'/>

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="">Home</a></li>
                    <li><a href= "{% url 'home:about' %}">About</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'home:logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'home:login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div style="font-size: 400%; color:#FFF; text-align: center;"><h1>Register</h1></div>
    <div class="container-fluid"  style= "border: 3px solid white; border-radius: 12px;">
        <div  class="row">
            <div class="col-md-12" style ="background-color: #d9d9d9">
    <form enctype="multipart/form-data" method='POST'>
        {% csrf_token %}
        {% for field in user_form %}
            {{ field.errors }}
            <div class = "tagWrapper">{{ field.label_tag }}</div> {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
            </form>
            <hr>
        {% endfor %}
                 <input type="submit" name="" value="Register" style="height:50px; width:200px; font-size:25px; text-align:center">
                </div></div></div>



</body>
</html>